@model RBAC_CoreMVC.DTOs.UserDto

@{
    ViewData["Title"] = "更改个人信息";
}

<h1 class="text-center">更改个人信息</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DepartmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastLoginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastLoginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UpdateTime)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeMyUserInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">返回主页</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}